@model EmailOtp

@{
    ViewData["Title"] = "Login/Signup with Email-OTP";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <h4 class="text-danger">@TempData["OtpExpired"]</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Email" class="form-label">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <button asp-action="GetEmailOtp" type="submit" class="w-100 btn btn-lg btn-primary">Send OTP</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
