@model Category

@{
	ViewData["Title"] = "Create";
}

<h1>Create Category</h1>
<hr />

<form asp-action="Create" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row pt-3">
		<div class="col-12 col-sm-6">
			<input placeholder="Enter category name" asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="col-12 col-sm-3">
			<input type="submit" value="Create" class="btn btn-primary w-100" />
		</div>
		<div class="col-12 col-sm-3">
			<a class="btn btn-outline-secondary w-100" asp-action="Index">Back to List</a>
		</div>
	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
