@{
	ViewData["Title"] = "Not Found";
}

<h2 class="text-danger mt-1 mb-1">@ViewBag.ErrorMessage</h2>
<a asp-controller="Home" asp-action="Browse" class="mt-1 btn btn-outline-success">Go back to home</a>